<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <style>
        #about{
            padding-left: 500px;
            padding-top: 20ssspx;
            background-color: ivory;
        }
        h2 span {
            color:crimson;
            font-size: 30px; 

        }

    </style>
   
</head>
<body>
    <hr>
    <div id="about">
        <h2>Your String : {{s}}</h2>
        <h2>Matches : <span>{{m}}</span> </h2>
    </div>
    <hr>
</body>
</html>